---
interface Props {
  title?: string;
}

const { title = "Code by Nayru" } = Astro.props;
---

<header class="fixed w-full bg-transparent z-20">
  <nav class="container mx-auto px-4 py-4">
    <ul class="flex justify-center items-center space-x-8">
      <li>
        <a
          href="#services"
          class="text-white hover:text-purple-600 transition-colors">Services</a
        >
      </li>
      <li>
        <a
          href="#tarifs"
          class="text-white hover:text-purple-600 transition-colors">Tarifs</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="text-white hover:text-purple-600 transition-colors">Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
