import {(SiGithub, SiLinkedin, SiBluesky, SiFiverr, SiMalt)} from 'react-icons/si';
import {TbBrandFiverr} from 'react-icons/tb';

<div class="flex items-center space-x-4 rounded px-6 py-4">
  <a
    class="icon"
    href="https://github.com/N95Ryan"
    target="_blank"
    rel="noopener noreferrer"
  >
    <SiGithub
      class="text-3xl text-black hover:text-gray-600 transition duration-300"
      title="Github"
    />
  </a>

  <a
    class="icon"
    href="https://www.linkedin.com/in/ryan-pina-silasse/"
    hreflang="fr"
    target="_blank"
    rel="noopener noreferrer"
  >
    <SiLinkedin
      class="text-3xl text-black hover:text-gray-600 transition duration-300"
      title="LinkedIn"
    />
  </a>

  <a
    class="icon"
    href="https://bsky.app/profile/n95ryan.bsky.social"
    target="_blank"
    rel="noopener noreferrer"
  >
    <SiBluesky
      class="text-3xl text-black hover:text-gray-600 transition duration-300"
      title="BlueSky"
    />
  </a>

  <a
    class="icon"
    href="https://fr.fiverr.com/n95_ryan"
    target="_blank"
    rel="noopener noreferrer"
  >
    <TbBrandFiverr
      class="text-3xl text-black hover:text-gray-600 transition duration-300"
      title="Fiverr"
    />
  </a>

  <a
    class="icon"
    href="https://www.malt.fr/profile/ryanpinasilasse"
    target="_blank"
    rel="noopener noreferrer"
  >
    <SiMalt
      class="text-3xl text-black hover:text-gray-600 transition duration-300"
      title="Malt"
    />
  </a>
</div>
